<ul class="menu">
  <li><%= link_to 'КАК ЭТО РАБОТАЕТ', '#how_it_works' %></li>
  <li><%= link_to 'ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ', '#' %></li>
  <li><%= link_to 'ГАРАНТИИ', '#' %></li>
  <li><%= link_to 'ДОСТАВКА', '#' %></li>
</ul>
