<a class="logo" href="">Selfie.znaigorod.ru</a>
<ul class="menu">
  <li><%= link_to 'КАК ЭТО РАБОТАЕТ', '#how_it_works', class: 'js-scroll' %></li>
  <li><%= link_to 'ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ', '#tech_details', class: 'js-scroll'%></li>
  <li><%= link_to 'ГАРАНТИИ', '#guarantee', class: 'js-scroll'%></li>
  <li><%= link_to 'ДОСТАВКА', '#', class: 'js-scroll'%></li>
</ul>
