.button
  +border-radius(10px)
  background-color: #fc0632
  border: 0
  color: white
  display: block
  font-size: 32px
  margin: 50px auto 0
  padding: 30px 0
  text-align: center
  text-decoration: none
  width: 400px
  +box-shadow(0 -3px rgb(219, 0, 1) inset)
  +transition(0.2s)

  &:hover
    background-color: rgb(219, 0, 1)

