.feature
  li
    font-size: 22px
    margin-bottom: 15px

    &:before
      display: block
      content: " "
      float: left
      border-color: transparent
      border-style: solid
      border-width: 5px 0 5px 8px
      border-left-color: #ff4d00
      margin: 3px 0 0 -15px

  &.common
    padding: 30px 0 0 17px

  &.material
    padding: 20px 0 30px 17px

    li
      margin: 0 0 5px 0
      font-size: 18px

  &.interface
    padding: 20px 0 0 17px

    li
      margin: 0 0 5px 0
      font-size: 18px

.horizontal_feature
  li
    float: left
    font-size: 16px
    color: #666666
    text-align: center

  &.about_monopode
    li
      width: 205px
      padding: 80px 15px 0
      line-height: 22px

  &.how_to
    padding: 30px 0 0

    li
      font-size: 22px
      line-height: 28px
      width: 350px
      padding: 350px 25px 0

  &.order_guarantee
    margin: 0 auto

    li
      width: 322px
      padding: 110px 0 0
      color: black
      line-height: 22px
      margin-right: 115px
      font-size: 18px

      &:last-child
        margin-right: 0
        padding: 0

        p
          font-size: 80px
          font-weight: bold
          line-height: 110px
      h2
        font-size: 22px
        font-weight: bold
        margin-bottom: 10px

.content
  div
    .limited
      padding: 30px 0 45px
      width: 1200px
      margin: 0 auto

    &.black
      background-color: #252525

    &.white
      background-color: #fff

    &.grey
      background-color: #eaeaea

    &.fixed_menu
      position: fixed
      top: 0
      width: 100%
      z-index: 10

    &.first_block
      margin-top: 56px

  .header, .footer
    +clearfix
    background: image-url("logo.png") no-repeat left center

    &.limited
      padding: 20px 0

    .logo
      display: block
      float: left
      width: 300px
      height: 25px
      margin: -9px 0 0
      text-indent: -9999em

    ul
      float: right

      li
        float: left
        margin-right: 40px

        a
          color: white
          text-decoration: none

  .order
    background: image-url("order_bg.jpg") no-repeat top center

    &.limited
      padding: 30px 0 27px

    .order_text
      width: 60%
      padding: 20px 0 0 40px

  .order_action_wrapper
    +clearfix
    clear: both

    &.limited
      padding: 0 0 45px

    .action_timer
      +clearfix

      .action
        float: right
        font-size: 20px
        margin: 30px 18px -20px
        text-transform: uppercase

    .order_button
      background-color: #eaeaea
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      float: right
      padding: 30px 0 25px
      width: 470px

      .new_price, .old_price
        +inline-block
        float: left
        padding-left: 60px

        span
          vertical-align: super

      .new_price
        font-size: 54px

        span
          font-size: 24px

      .old_price
        font-size: 34px
        position: relative

        &:after
          +transform(rotate(-19deg))
          border-top: 1px solid red
          content: ""
          left: 40px
          position: absolute
          right: 0
          top: 34%
          width: 71%

        span
          font-size: 16px

      .button
        margin: 75px auto 0
        text-transform: uppercase

  .photo
    position: relative

    .jcarousel-control-prev, .jcarousel-control-next
      position: absolute
      top: 200px
      width: 30px
      color: #fff
      text-decoration: none
      font: 80px/27px Arial, sans-serif

    .jcarousel-control-next
      right: 0px

    .jcarousel
      padding: 30px 0 0
      position: relative
      overflow: hidden
      width: 1100px
      margin: 0 auto

      ul
        list-style: none
        position: relative
        width: 20000em

      li
        +border-radius(5px)
        border: 10px solid white
        float: left
        height: 230px
        margin: 0 30px 0 0
        width: 230px

        a.gallery
          display: block
          width: 230px
          height: 230px
          pointer-events: none
          cursor: default
          text-indent: -9999px

          &.pic1
            background: image-url("pic1.jpg") no-repeat left top

          &.pic2
            background: image-url("pic2.jpg") no-repeat left top

          &.pic3
            background: image-url("pic3.jpg") no-repeat left top

          &.pic4
            background: image-url("pic4.jpg") no-repeat left top

          &.pic5
            background: image-url("pic5.jpg") no-repeat left top

          &.pic6
            background: image-url("pic6.jpg") no-repeat left top

          &.pic7
            background: image-url("pic7.jpg") no-repeat left top

          &.pic8
            background: image-url("pic8.jpg") no-repeat left top


  .about
    +clearfix

    &.limited
      padding: 30px 0 0

    h2
      font-size: 23px
      margin: 0 auto
      padding: 30px 0 40px
      width: 1000px

  #tech_details
    padding: 30px 0 0

  .tech_details
    +clearfix
    background: image-url("how_it_works.jpg") no-repeat left bottom
    padding: 30px 0 0 0
    position: relative

    h1
      padding: 0 0 90px 0

    .monopode_text, .phone_text, .bracket_text
      position: absolute
      font-size: 15px
      white-space: pre

    .monopode_text
      left: -14px
      top: 210px

    .phone_text
      bottom: 28px
      left: -34px

    .bracket_text
      bottom: 50px
      left: 392px
      text-align: center

    .caption
      +border-radius(10px)
      +inline-block
      background: white
      border: 3px solid white
      color: #ff4200
      font-size: 22px
      font-weight: bold
      padding: 8px

      &.first
        margin: -20px 0 0 28px

      span
        display: table-cell
        padding-top: 4px

    .right_block
      float: right
      width: 477px
      padding: 15px 0

  #how_it_works
    padding: 30px 0 0

  .how_it_works
    +clearfix

  .reviews
    padding: 30px 0 0
    .clouds
      width: 1140px
      +clearfix
      margin: 0 auto

      .cloud
        +border-radius(10px)
        width: 270px
        background-color: white
        float: left
        margin: 50px 135px 30px 0
        position: relative
        padding: 10px

        &:after
          top: 100%
          left: 50%
          border: solid transparent
          content: " "
          position: absolute
          border-color: rgba(255, 255, 255, 0)
          border-top-color: #ffffff
          border-width: 20px
          margin-left: -20px

        &.first
          &:after
            left: 83%

        &.third
          margin-right: 0

          &:after
            left: 17%

    .users_comments
      margin: 0 auto
      width: 800px
      +clearfix

      .user_picture, .user_name
        float: left
        margin: 0 181px 0 0

        &.last
          margin-right: 0

      .user_name
        margin-top: 10px
        text-align: center
        width: 146px

      .user_picture
        +border-radius(73px)
        background-color: white
        border: 3px solid #ff4200
        height: 140px
        width: 140px

  #guarantee
    padding: 30px 0 0

  .guarantee
    padding: 30px 0 20px
    +clearfix

  a.zg_link
    color: #0055d6
    font-size: 20px
    padding: 30px 0 20px 65px
    text-decoration: none

    &.vk
      background: image-url('vk.png') no-repeat left center

    &.odnkl
      background: image-url('odnkl.jpg') no-repeat left center
      margin-left: 40px


  .map
    height: 350px
