.feature
  li
    font-size: 16px
    margin-bottom: 15px

    &:before
      display: block
      content: " "
      float: left
      border-color: transparent
      border-style: solid
      border-width: 5px 0 5px 8px
      border-left-color: #ff4d00
      margin: 1px 0 0 -15px

  &.common
    padding: 30px 0 0 17px

  &.material
    padding: 20px 0 30px 17px

  &.interface
    padding: 20px 0 0 17px

.horizontal_feature
  li
    float: left
    font-size: 14px
    color: #666666
    text-align: center

  &.about_monopode
    li
      width: 170px
      padding: 80px 30px 0

  &.how_to
    padding: 30px 0 0

    li
      width: 340px
      padding: 350px 30px 0

  &.order_guarantee
    width: 980px
    margin: 0 auto

    li
      width: 250px
      padding: 110px 0 0
      color: black
      line-height: 20px
      margin-right: 115px

      &:last-child
        margin-right: 0

      h2
        font-size: 16px
        font-weight: bold
        margin-bottom: 10px

.content
  li
    &.black
      background-color: #252525

    &.white
      background-color: #fff

    &.grey
      background-color: #eaeaea

    &.fixed_menu
      position: fixed
      top: 0
      width: 100%
      z-index: 10

    &.first_block
      margin-top: 56px

      .action
        float: right
        font-size: 20px
        margin: 30px 18px -20px
        text-transform: uppercase

    > div
      padding: 30px 0 45px
      width: 1200px
      margin: 0 auto

  .header, .footer
    +clearfix
    padding: 20px 0
    background: image-url("logo.png") no-repeat left center

    ul
      float: right

      li
        float: left
        margin-right: 40px

        a
          color: white
          text-decoration: none

  .order
    background: image-url("order_bg.jpg") no-repeat top center

    .order_text
      width: 45%
      padding: 20px 0 0 40px

  .order_button
    background-color: #eaeaea
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    float: right
    margin: 45px 0 20px 0
    padding: 30px 0 25px
    width: 470px

    .new_price, .old_price
      +inline-block
      float: left
      padding-left: 60px

      span
        vertical-align: super

    .new_price
      font-size: 44px

      span
        font-size: 24px

    .old_price
      font-size: 24px
      position: relative

      &:after
        border-top: 1px solid red
        content: ""
        left: 83px
        position: absolute
        right: 0
        top: 46%
        transform: rotate(-19deg)
        width: 46%

      span
        font-size: 16px

    .button
      margin: 75px auto 0
      text-transform: uppercase

  .photo
    position: relative

    .jcarousel-control-prev, .jcarousel-control-next
      position: absolute
      top: 200px
      width: 30px
      color: #fff
      text-decoration: none
      font: 80px/27px Arial, sans-serif

    .jcarousel-control-next
      right: 0px

    .jcarousel
      padding: 30px 0 0
      position: relative
      overflow: hidden
      width: 1100px
      margin: 0 auto

      ul
        list-style: none
        position: relative
        width: 20000em

      li
        +border-radius(5px)
        border: 10px solid white
        float: left
        height: 230px
        margin: 0 30px 0 0
        width: 230px

  .about
    +clearfix

    h2
      font-size: 18px
      margin: 0 auto
      padding: 30px 0 40px
      width: 770px

  .tech_details
    +clearfix
    background: image-url("how_it_works.jpg") no-repeat left bottom
    padding: 30px 0 0 0
    position: relative

    h1
      padding: 0 0 40px 0

    .monopode_text, .phone_text, .bracket_text
      position: absolute
      font-size: 13px
      white-space: pre

    .monopode_text
      left: 7px
      top: 192px

    .phone_text
      bottom: 33px
      left: 20px

    .bracket_text
      bottom: 60px
      left: 436px

    .caption
      +border-radius(10px)
      background: white
      border: 3px solid white
      color: #ff4200
      display: table-cell
      font-size: 20px
      font-weight: bold
      margin: 0 -10px 0 0
      padding: 8px

      span
        display: table-cell
        padding-top: 4px

    .right_block
      float: right
      width: 450px
      padding: 15px 0

  .how_it_works
    +clearfix

  .reviews
    .clouds
      width: 1140px
      +clearfix
      margin: 0 auto

      .cloud
        +border-radius(10px)
        height: 110px
        width: 290px
        background-color: white
        float: left
        margin: 50px 135px 30px 0
        position: relative

        &:after
          top: 100%
          left: 50%
          border: solid transparent
          content: " "
          position: absolute
          border-color: rgba(255, 255, 255, 0)
          border-top-color: #ffffff
          border-width: 20px
          margin-left: -20px

        &.first
          &:after
            left: 83%

        &.third
          margin-right: 0

          &:after
            left: 17%

    .users_comments
      margin: 0 auto
      width: 800px
      +clearfix

      .user_picture, .user_name
        float: left
        margin: 0 181px 0 0

        &.last
          margin-right: 0

      .user_name
        margin-top: 10px
        text-align: center
        width: 146px

      .user_picture
        +border-radius(73px)
        background-color: white
        border: 3px solid #ff4200
        height: 140px
        width: 140px

  .guarantee
    +clearfix

  .order_form
    +border-radius(10px)
    +clearfix
    background: #f2f2f2 image-url('order.jpg') no-repeat
    background-position: 60px 73px
    padding: 30px 0 20px 0

    .new_left
      display: none

      .select
        height: 45px

    .left, .new_left
      float: left
      width: 590px
      margin: 18px 0 0 50px

      .new_price
        +inline-block
        color: #fc0025
        float: left
        font-size: 34px
        margin-bottom: 10px

        span
          font-size: 24px
          vertical-align: super

      .old_price
        +inline-block
        clear: both
        float: left
        font-size: 26px
        position: relative

        &:after
          border-top: 1px solid red
          content: ""
          left: 76px
          position: absolute
          right: 0
          top: 50%
          transform: rotate(-19deg)
          width: 53%

        span
          font-size: 22px
          vertical-align: super


    .right, .new_right
      float: left
      margin: 30px 0 0 0

      .button
        float: left
        margin: 15px 33px
        padding: 25px 0
        text-transform: uppercase
        width: 350px

      .prepayment
        color: #949494
        text-transform: uppercase

      .count
        float: left
        margin: 20px 0 0 0

        h3
          color: #939393
          margin: 0 0 20px 0
          text-transform: uppercase

        div
          float: left
          padding: 5px 10px

        .minus, .plus
          +border-radius(10px)
          background-color: #959595
          color: white
          cursor: pointer
          font-size: 30px

        .number
          font-size: 42px
          text-align: center
          width: 50px

    .input
      +border-radius(10px)
      border: 2px solid #e0e0e0
      font-size: 18px
      margin: 5px 0
      outline: none
      padding: 10px
      width: 468px

    .new_button
      clear: both
      text-transform: uppercase

    .new_right
      display: none
      margin: 0

      .return-old-form
        border-bottom: 1px dashed #0055d6
        color: #0055d6
        float: right
        margin-top: -25px
        text-decoration: none

        &:hover
          color: #528CE5

      .annotation
        line-height: 25px
        margin: 0 0 -20px 0
        white-space: pre-line

        .or
          font-size: 20px
          font-weight: bold
          white-space: normal

        a
          color: #0055d6
          text-decoration: none

          &:hover
            color: #528CE5

      .input
        margin: 20px 0 0 -5px

  .zg_link
    padding-bottom: 30px

    a
      background: image-url('vk.png') no-repeat left center
      color: #0055d6
      font-size: 20px
      padding: 30px 0 20px 65px
      text-decoration: none

  .map
    height: 350px
