input[type=radio]
  display: none

input[type=radio]:checked + label:before
  color: red
  content: "\2022"
  font-size: 34px
  line-height: 24px
  text-align: center

.radio
  label
    +inline-block
    cursor: pointer
    margin: 0 0 0 10px
    padding-left: 25px
    position: relative

    &:before
      +border-radius(11px)
      +inline-block
      background-color: #fff
      bottom: 1px
      box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8)
      content: ""
      height: 22px
      left: -5px
      position: absolute
      width: 22px

#order_form
  padding: 0 0 45px

.order_form
  +border-radius(10px)
  +clearfix
  background: #f2f2f2 image-url('order.jpg') no-repeat left center
  padding: 30px 0 20px 0
  position: relative

  form.new_order, form.edit_order
    margin: 20px 0 0

  .left
    float: left
    width: 590px
    margin: 18px 0 0 50px

    .new_price
      +inline-block
      color: #fc0025
      float: left
      font-size: 50px
      margin-bottom: 10px

      span
        font-size: 24px
        vertical-align: super

    .old_price
      +inline-block
      clear: both
      float: left
      font-size: 26px
      position: relative

      &:after
        +transform(rotate(-19deg))
        border-top: 1px solid red
        content: ""
        left: 76px
        position: absolute
        right: 0
        top: 50%
        width: 53%

      span
        font-size: 22px
        vertical-align: super


  .right
    float: left
    margin: 30px 0 0 0

    .button
      float: right
      margin: 15px 33px
      padding: 25px 0
      text-transform: uppercase
      width: 350px
      outline: none

    .prepayment
      color: #949494
      text-transform: uppercase

    .count
      float: left
      margin: 20px 0 10px

      h3
        color: #939393
        margin: 0 0 20px 0
        text-transform: uppercase

      div
        float: left
        padding: 5px 10px

      #order_quantity
        background-color: transparent
        border: 0
        font-size: 40px
        font-weight: bold
        margin-top: -13px
        outline: none
        padding: 0
        pointer-events: none
        text-align: center
        width: 52px

      .order_quantity
        padding: 0

      .minus, .plus
        +border-radius(10px)
        background-color: #959595
        color: white
        cursor: pointer
        font-size: 30px

      .number
        width: 50px

  input.input
    +border-radius(10px)
    border: 2px solid #e0e0e0
    font-size: 18px
    margin: 5px 0
    outline: none
    padding: 10px
    width: 468px

  .new_button
    display: inline
    float: right
    margin: 30px 30px 0 0
    padding: 30px 20px 18px
    text-transform: uppercase
    width: auto

  .total
    clear: both
    float: left
    margin: 30px 0 0 30px
    width: 400px

    div
      margin: 10px 0

    .text
      text-transform: uppercase
      color: #828282
      font-size: 20px

    .sum
      color: #fc0535
      font-size: 40px
      font-weight: bold

      .rubles
        font-weight: normal
        font-size: 26px

    .details
      color: #959595

  .new_left, .new_right
    height: 305px

  .new_left
    border-bottom: 1px solid #dadada
    border-right: 1px solid #dadada
    float: left
    margin: 0 0 0 50px
    width: 650px

    .form_1
      margin: 30px 0

      .helper_info
        margin: 10px 0 0
        color: #9b9b9b
        display: none

      .order_delivery_method

      .order_post_address
        display: none

        input
          +border-radius(8px)
          border: 2px solid #e1e1e1
          font-size: 18px
          outline: none
          padding: 10px
          width: 79%

      div.input
        margin: 10px 0 0

      div.radio_buttons
        +clearfix
        width: 550px
        font-size: 22px

        span.radio
          float: left
          margin: 20px 0 0

    .order_city
      span.radio
        font-size: 22px
        position: absolute

        input
          margin: 0 10px 0 0

        &:first-child
          left: 31px

        &:last-child
          right: 300px

  .new_right
    margin: 0
    border-bottom: 1px solid #dadada
    width: 450px
    float: left

    .form_2
      display: block
      margin: 40px 0 0

      .helper_info
        margin: 10px 0 0 32px
        color: #9b9b9b

      div.order_post_address
        display: none

    div.input
      margin: 15px auto
      width: 390px

      input, textarea
        +border-radius(8px)
        border: 2px solid #e1e1e1
        font-size: 18px
        outline: none
        padding: 10px
        width: 90%
